@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2b2922;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

.navbar,
.hero {
  width: 1300px;
  margin: 0 auto;
}

/* ------------------------------ */
/* -----------NAVBAR------------- */
/* ------------------------------ */

.navbar {
  height: 20vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Navbar Logo */
.navbar div:first-child img {
  height: 50px;
}

.navbar div:nth-child(2) {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  padding-right: 50px;
}

/* Navbar List */
.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
  list-style: none;
}

.list-item {
  color: #fff;
  font-size: 18px;
  opacity: 0.6;
}

.list-item:first-child {
  opacity: 1;
}

/* Navbar Button */
.nav-btn {
  font-size: 20px;
  background-color: #2b2922;
  color: #9d8c35;
  padding: 12px 36px;
  border: 2px solid #9d8c35;
  border-radius: 10px;
  cursor: pointer;
  transition: box-shadow 0.3s;
}

.nav-btn:hover {
  box-shadow: 0 0 20px #9d8c35;
}

/* ------------------------------ */
/* ------------HERO-------------- */
/* ------------------------------ */

.hero {
  height: 40vh;
  display: flex;
  align-items: center;
  gap: 100px;
  color: #fff;
}

/* Hero Text */
.hero-heading {
  font-size: 68px;
  text-transform: capitalize;
}

.hero-description {
  text-align: start;
  opacity: 0.8;
}

/* Hero Image */
.hero-image {
  height: 40vh;
  width: 100%;
  background: url(./images/pexels-ekaterina-bolovtsova-6077326.jpg);
  background-size: cover;
  background-position-y: -240px;
}
